@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: rgba(252, 165, 165, 0.5); 
  /* background-color: rgba(125,211,252, 0.5); */
}

@layer utilities {
  h1 {
    @apply text-4xl md:text-5xl 2xl:text-6xl font-bold
  }
  h2 {
    @apply text-3xl md:text-4xl 2xl:text-5xl
  }
  h3 {
    @apply text-2xl md:text-3xl 2xl:text-4xl
  }
  h4 {
    @apply text-xl md:text-2xl 2xl:text-3xl
  }
  h5 {
    @apply text-lg md:text-2xl 2xl:text-2xl
  }
  h6 {
    @apply text-base md:text-lg 2xl:text-xl
  }

  ol {
    @apply list-decimal list-inside
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* @layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
} */
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
